/* Seteando mi css*/
body {
	box-sizing: border-box;
	color: #303030;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

/* Clases reutilizables*/
.text-uppercase {
	text-transform: uppercase;
}

/* Clases específicas*/

li a {
	text-decoration: none;
	color: inherit;
}

.logo-header {
	width: 220px;

}

nav {
	float: right;
}

.box-header {
	display: inline-block;
}

header {
	position: relative;
}

nav {
	position: absolute;
	padding: 20px; 
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}

.box-header {
	display: inline-block;
}